<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<%= form_tag do %>

	<%= text_field_tag(:measurement,"", :size => 1) %>
	<%= select(:measure, :unit, measure_params, :prompt => 'select something') %><br><br>
	<%= text_area_tag(:demo, "", :autofocus => true,:size => "30x15", :class => 'tinymce', width: "30") %><br><br>
	<%= submit_tag "Post" %>

<% end %>

<%= @content  %>
<%#= tinymce :alternate %>